<!-- Interpolation Binding -->
<!-- <p class="text-danger">Welcome to {{hotelName}} Hotel</p> -->
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<h1>
	{{totalBytes}} downloaded

</h1>

Number of Rooms: <span style="font-weight: 700;">{{numberOfPhotos | async}}</span>
<!-- Property Binding -->
<div [hidden]="hideRooms">
	<p [innerText]='numberOfRooms'></p>
</div>
ab

<!--Null collision operator-->
<!-- {{ rooms.availableRooms ?? 'No Rooms'}} -->

<!-- <div *ngIf="rooms.availableRooms > 0 && rooms.bookedRooms < 100">
    Rooms List:
</div> -->

<button type="button" class="btn btn-success" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
	Simple demo
</button>


<div>
	<button class="btn btn-info" (click)="addNewRoom()">add a room</button>
</div>

<div *ngIf="rooms.availableRooms > 0">
	<app-rooms-list [rooms]="roomsList" (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<div *ngIf="selectedRoom" class="selected-container">
	{{selectedRoom | json}}
</div>

<!-- Event Binding -->
<!-- Banana Syntax -->
<button (click)="toggle()">Hide Details</button>