.even {
    background-color: steelblue;
    color: white;
}

.odd {
    background-color: tomato;
    color: white;
}


.selected-container{
    margin: 50px 60px;
    background-color: rgba($color: #00f2ff, $alpha: 0.5);
}