Rooms List:
<table style="border: solid 2px gray; text-align: center;" class="table">
	<tr>
		<th>Room Number</th>
		<th>Room Type</th>
		<th>Room Price</th>
		<th>Room Amenities</th>
		<th>Check in Time</th>
		<th>Select Room</th>
	</tr>
	<tr *ngFor="let room of rooms; let o = odd; let e = even; let i = index;" [ngClass]="e ? 'even' : 'odd'">
		<td>{{ room.roomNumber }}</td>
		<td>{{ room.roomType }}</td>
		<td>{{ room.price | currency:"EUR" }}</td>
		<td>{{ room.amenities }}</td>
		<td>{{ room.checkInTime | date }}</td>
		<!-- <td><button class="btn btn-info" (click)="selectRoom(room)">Select this room</button></td> -->
		<td>
			<button class="btn btn-info" [routerLink]="['/rooms', room.roomNumber]">Watch Room</button>
		</td>

	</tr>
</table>