<!-- <h1>Hi there, this is the app-root</h1> -->

<!-- <app-hinv></app-hinv> -->
<!-- <div>
  <h2>App Configurations</h2>
  <p *ngFor="let key of config"></p>
</div> -->

<!-- <app-container>
  <app-hinv></app-hinv>
  <h1>This is from ng-content</h1>
  <app-employee></app-employee>
  <h2> This is a subtitle</h2>
</app-container> -->

<!-- <div>
  #user is a template reference
  <ng-template #user>

  </ng-template>
</div> -->

<!-- <button (click)="addDiv()">Add More Content</button> -->
<!-- <div #any>

</div> -->
<!-- <app-hinv></app-hinv> -->

<!-- NGSWTICH -->
<!-- <div [ngSwitch]="userType">
  <div *ngSwitchCase="'Admin'">
    Welcome Admin
    <app-hinv></app-hinv>
  </div>
  <div *ngSwitchCase="'User'">
    Hello User.
  </div>
  <div *ngSwitchDefault>
    I am afraid you are not allowed to view the content.
  </div>
</div> -->
<!-- Do not use HREF because it will reload the page when redirecting,  -->
<!-- Instead, we want an SPA, so we use: -->
<!-- <p><a [routerLink]="'rooms'">Rooms</a></p>
<p><a [routerLink]="'employees'">Employees</a></p> -->
<app-app-nav></app-app-nav>



